/*//////////////for mobile screen only////*/
@media only screen and (max-width:480px){
    body{
        background-color: brown;
    }
}

/*//////////////for tablet screen only (481px-104px)////*/
@media only screen and (min-width:481px) and (max-width:1024px){
body{
    background-color: aqua;
}
}


/*///////////for desktop screen only///////*/
@media only screen and (min-width:1025px){
    body{
        background-color: blue;
    }
}

.main{
    background-color: lightblue;
    width:800px;
    height:400px;
    display: flex;
    flex-direction: column;
    border:10px solid black;
    
}

.first{
    background-color: palevioletred;
    width:400px;
    height:400px;
    margin-right:10px;
    border:10px
    
}
.sec{
    background-color: crimson;
    width:400px;
    height:400px;
}


